.footer{
    background-color:#f5a104d4;
    padding: 1rem ;
    font-size: 1.6rem;

    color: #fff;
a{

    color: #fff;
    text-decoration: none;
}
}


.copyright{
    padding: 1rem;
    color: #fff;
    
}