.github{

    background-color: #fff;
    padding-bottom: 8rem;
    position: relative;
    padding: 15rem 10rem ;
    @include respond(tab-port){
        padding: 10rem 10rem ;
    }

    &-portfolio{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:  repeat(3, 1fr) ;
        grid-gap: 5rem 0;

        
        width: 100%;
        padding: 7rem 0;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;


        @include respond(big-desktop){
            width: 100%;
            grid-template-rows: 1fr 1fr;
            grid-template-columns:  repeat(3, 1fr) ;
            grid-gap: 5rem 0;

        }
        @include respond(desktop){
            grid-template-rows: 1fr 1fr;
            grid-template-columns:  repeat(2, 1fr) ;
            grid-gap: 5rem 0;
        }
        
        @include respond(tab-port){
            grid-gap: 4rem 3rem;
        }
        @include respond(phone){
            grid-template-rows: 1fr ;
            grid-template-columns:  1fr ;
            grid-gap: 7rem ;
        }
        
        
        
    }
    &-project{
        
        width: 35rem;
        height: 22rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        transition: transform .2s;

        @include respond(tab-port){
            width: 25rem;
            height: 17rem;
        }
        @include respond(phone){
            width: 45rem;
            height: 28rem;
        }

        img{
            //transform: scale(.95);
            width: 100%;
        }
        
    }
    &-project:hover,
    &-project:focus,
    &-project:active{
        transform: scale(1.15);

    }


    
}

.fa-github{
    font-size: 15rem;
    color: #000;
    transition: transform .3s;
   position: relative;


    &::after{
        content: "GitHub";
        position: absolute;
        font-size: 2.4rem;
        font-weight: 900;
        top:70px;
        left: 30px;
        width: 1px;
        height: 1px;
        font-family: 'Noto Sans HK', sans-serif;
        opacity: 0;

        // transition: opacity .3s , transform 6s cubic-bezier(59,.84,.8,.9);
        transition: opacity .3s .1s, transform .3s ease-in-out;
        will-change: transform;
        
        @include respond(tab-land){
            font-size: 2.1rem;
            top:68px;
        }
        @include respond(tab-port){
            font-size: 2.1rem;
            top:58px;
        }
        @include respond(phone){
            font-size: 2.1rem;
            top:38px;
            left: 17px;
        }
   
    }

    
}



.fa-github:hover{   
    transform: scale(1.1);

    &::after{   
        opacity: 1;
        transform: translateY(-10px);
        
    }
}
